<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}{{ page.title }} - {{ site.title }}
    {% else %}{{ site.title }}
    {% endif %}
  </title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>