<!--
  {{ page.title }} page of charlielee.uk
  Copyright 2017 Charlie Lee
  License: GPL-3.0
  https://github.com/charlielee/charlielee.github.io
-->
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="QZuTN4d6lrHJ0eo0H3GKUksTj3uuALiC5Ezm_1YHais" />
  <title>
    {% if page.title %}{{ page.title }} - {{ site.title }}
    {% else %}{{ site.title }}
    {% endif %}
  </title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>