{% capture get_category %}{{ page.title }}{% endcapture %}
{"posts": [
{% for post in site.categories[get_category] %}
  {
    "id": "{{ post.id }}",
    "type": "{{ post.layout }}",
    "test": {{ post.excerpt | jsonify }},
    "slug": "{{ post.slug }}",
    "url": "{{ post.url | absolute_url | replace: "/", "\/" }}",
    "title": "{{ post.title }}",
    "title_plain": "{{ post.title | normalize_whitespace }}",
    "content": "{{ post.content | replace: '"', '\"' | replace: "\", "\\" | replace: "/", "\/" | normalize_whitespace }}",
    "excerpt": "<p>{{ post.excerpt | strip_html | normalize_whitespace }}</p>",
    "date": "{{ post.date }}",
    "categories": [
    {% for cat in post.categories %}
      "{{ cat }}"{% unless forloop.last %},{% endunless %}
    {% endfor %}
    ]
  {% unless forloop.last %}},{% endunless %}
  {% endfor %}
  }
]}