/*!
  Main style sheet for charlielee.uk
  Copyright 2017 Charlie Lee
  License: GPL-3.0
  https://github.com/charlielee/charlielee.github.io
*/

/* ================================
   0.0. CSS DIRECTORY
   ================================

   1.0. INITIAL BREAKPOINT (Smartphone portrait)
        1.1. GENERAL
        1.2. PRIMARY
        1.3. HEADERS
        1.4. NAVIGATION
        1.5. FOOTER
        1.6. HOMEPAGE GALLERY

   2.0. SMARTPHONE LANDSCAPE/SMALL TABLET BREAKPOINT (min-width: 500px)
        2.1. PRIMARY
        2.2. HEADERS
        2.3. NAVIGATION
        2.4. HOME PAGE GALLERY

   3.0. DESKTOP BREAKPOINT (min-width: 768px)
        3.1. PRIMARY
        3.2. HEADERS
        3.3. HOMEPAGE GALLERY
*/

/* ================================
   1.0. INITIAL BREAKPOINT (Smartphone portrait)
   ================================ */

/* 1.1. GENERAL
   -------------------------------- */

body {
  font-family: Helvetica, Arial, sans-serif;
}
p {
  line-height: 1.3em;
}

table {
  width: 100%;
  text-align: left;
}
td {
  padding: 0.5em 0;
}

h2 {
  margin: 1.5em 0;
}

/* ===Links=== */
a, a:visited {
  color: rgb(11,114,132);
}
a:hover { color: rgb(4,81,94); }

/* ===Elements that are only displayed when no CSS is avaliable=== */
.alt {
  display: none;
}

/* ===Plain list=== */
ul.plainlist {
  list-style-type: none;
  padding: 0;
}

/* ===Buttons=== */
.button {
  background-color: rgb(0,171,202);
  border: 2px solid rgb(0,171,202);
  border-radius: 10px;
  color: rgb(255,255,255);
  display: inline-block;
  margin: 10px 10px 10px 0;
  padding: 15px;
  text-decoration: none;
}
.button:visited {
  color: rgb(255,255,255);
}
.button:hover {
  background-color: transparent;
  color: rgb(0,171,202);
  cursor: pointer;
}

/* ===Forms===*/
input, textarea {
  border: 1px solid rgb(169,169,169);
  box-sizing: border-box;
  display: block;
  margin-bottom: 1em;
  padding: 10px;
  width: 100%;
}
textarea {
  resize: vertical;
}
input[type="submit"] {
  width: auto;
}

/* 1.2. PRIMARY
   -------------------------------- */

main div {
  clear: both;
  /* Prevents margin collapsing */
  overflow: hidden;
}
.dark {
  background-color: rgb(85,98,112);
  color: rgb(255,255,255);
}
.notice {
  background-color: rgb(215,18,139);
  border-radius: 5px;
  color: rgb(255,255,255);
  padding: 10px 20px;
}
.hidden {
  display: none;
}

/* ===Articles=== */
article {
  margin: 0 auto;
  padding: 0 10px;
}
article img {
  box-shadow: 1px 0 10px 1px rgb(85,98,112);
  margin-bottom: 1em;
  width: 100%;
}

.item {
  border-left: 5px solid rgb(85,98,112);
  margin: 2em auto;
}

.item h2 {
  margin-top: 0;
}

.post-details-caption {
  font-weight: 600;
}

/* ===Article sidebars===*/
aside ul {
  padding: 0;
  color: rgb(85,98,112);
  font-size: 0.9em;
  list-style: none;
}

/* 1.3. HEADERS
   -------------------------------- */

/* ===Global header===*/
#global-header {
  background-color: rgb(85,98,112);
  width: 100%;
  z-index: 2;
}

/* ===Logo=== */
#logo {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
#logo a {
  display: inline-block;
  padding: 10px;
  text-align: left;
}

/* ===Hero headers===*/
.hero {
  align-items: center;
  background-color: rgb(85,98,112);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  height: 10em;
  margin: 0 auto;
  max-height: calc(100vh - 47px);
  overflow: hidden;
  position: relative;
}
.hero-flex-container {
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.hero-flex-row {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  max-width: 800px;
  width: calc(100% - 20px);
}
.hero-img-round {
  border-radius: 100px;
  margin: 0 2em 0 0;
  width: 25% !important;
}
.hero header {
  background-color: transparent;
  flex: 1;
}
.hero h1 {
  background-color: transparent;
  color: rgb(255,255,255);
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  white-space: pre-wrap;
}
.hero h2 {
  color: rgb(255,255,255);
  margin: 1em 0;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.hero h3 {
  color: rgb(185,198,182);
  font-weight: 300;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.hero img {
  width: 100%;
}
.hero-social-media {
  display: flex;
  flex-flow: wrap;
  padding: 0;
} 
.hero-social-media li {
  font-size: 3em;
  list-style: none;
  padding: 0 1em 0 0;
}
.hero-social-media li:first-of-type {
  list-style: none;
}
.hero-social-media li:last-of-type {
  padding-right: 0;
}
.hero-social-media a {
  color: rgb(255,255,255);
}
.hero-social-media a:hover {
  color: rgb(185,198,182);
}

/* 1.4. NAVIGATION
   -------------------------------- */

nav {
  /* Center the nav bar */
  margin: 0 auto;
}

nav ul {
  display: none;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
nav li {
  flex: 1 100%;
  list-style: none;
  text-align: center;
}

nav a {
  color: rgb(255,255,255);
  display: block;
  padding: 20px;
  text-decoration: none;
  text-shadow: 1px 1px rgb(40,40,40);
  white-space: nowrap;
}
nav a:visited { color: rgb(255,255,255); }
nav a:hover {
  color: rgb(200,200,200);
}

/* ===Top navigation=== */
#mobile-menu-toggle {
  color: rgb(255,255,255);
  font-size: 1.5em;
  height: 30px;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  transform: rotate(90deg);
  width: 30px;
}
#mobile-menu-toggle:hover {
  background-color: rgb(30,30,30);
  text-decoration: none;
  color: rgb(200,200,200);
  cursor: pointer;
}
header nav ul.visible {
  display: flex;
}

/* 1.5. FOOTER
   -------------------------------- */

footer {
  clear: both;
  color: rgb(85,98,112);
  font-size: 90%;
  padding: 20px;
}
footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
footer li {
  display: inline;
  list-style: none;
}
footer li:after {
  /* Each footer element is seperated with a "|" */
  content: "|";
  padding: 0 10px;
}
footer li:last-child:after {
  content: "";
}

/* 1.6. HOME PAGE GALLERY
   -------------------------------- */

.gallery {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px auto 0 auto;
}

/* Each gallery item is a article */
.gallery article {
  background-color: rgb(0,0,0);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-color: rgb(85,98,112);
  border-left-style: solid;
  border-width: 5px;
  box-shadow: inset -1px 0 50px 1px rgb(100,100,100);
  box-sizing: border-box;
  flex: 1 1 100%;
  height: 200px;
  margin: 0 0 10px 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.gallery h2 {
  background-color: rgb(85,98,112);
  box-sizing: border-box;
  color: rgb(255,255,255);
  display: inline;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.7;
  padding: 7px 7px 7px 0;
  text-shadow: 1px 1px rgb(40,40,40);
  vertical-align: top;
  white-space: pre-wrap;
}

.gallery p {
  background-color: rgba(255,255,255,0.95);
  bottom: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  position: absolute;
  width: 100%;
}

.gallery a {
  background-color: rgb(255,255,255);
  color: rgb(255,255,255);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.gallery a:hover {
  opacity: 0.10;
}
.gallery a:active {
  opacity: 0.20;
}

/* ================================
   2.0. SMARTPHONE LANDSCAPE/SMALL TABLET BREAKPOINT
   ================================ */

@media only screen and (min-width: 500px) {

  /* 2.1. PRIMARY
     -------------------------------- */

  article img {
    clear: both;
    float: right;
    margin: 0 0 1em 1em;
    max-width: 100%;
    width: auto;
  }

  aside li {
    display: inline-block;
  }
 aside li:after {
    content: "|";
    padding: 0 7px;
  }
  aside li:last-child:after {
    content: "";
  }

  /* 2.2. HEADERS
     -------------------------------- */

  #logo {
    font-size: 2em;
  }

  .hero h1 {
    font-size: 2.5em;
  }
  .hero {
    height: 15em;
    max-height: 30em;
  }

  /* 2.3. NAVIGATION
     -------------------------------- */

  nav {
     display: flex;
    /* Moves header contents onto one row */
    flex-flow: row wrap;
    max-width: 820px;
  }
  nav a {
    padding: 10px;
  }
  nav ul, header nav ul.visible {
    display: block;
    flex: 1;
    text-align: right;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 10px;
  }
  nav li {
    display: inline-block;
    margin: 0 20px 0 0;
  }
  nav li:last-of-type {
    margin: 0;
  }

  /* ===Top navigation=== */
  #mobile-menu-toggle {
    display: none;
  }

  /* 2.4. HOME PAGE GALLERY
   -------------------------------- */

  .gallery article {
    /* Displays two columns in the gallery */
    max-width: 49%;
  }
}

/* ================================
   3.0. DESKTOP BREAKPOINT
   ================================ */

@media only screen and (min-width: 768px) {

  /* 3.1. PRIMARY
   -------------------------------- */

  article h2, article h3 {
    clear: both;
  }
  article {
    max-width: 800px;
    padding: 0 20px;
  }
  article.with-sidebar {
    display: flex;
    flex-wrap: wrap;
  }
  .with-sidebar section:last-child, .with-sidebar aside:last-child {
    padding-left: 20px;
  }

  aside {
    width: 250px;
  }
  aside li {
    display: block;
  }
  aside li:after {
    content: "";
    padding: 0;
  }
  section {
    flex: 1;
  }

  /* 3.2. HEADERS
   -------------------------------- */

  /* ===Hero headers===*/
  .hero h1 {
    font-size: 3.5em;
  }

  /* 3.3. HOME PAGE GALLERY
   -------------------------------- */

  .gallery {
    max-width: 1200px;
  }
}