<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <main>
      <header class="hero" style="background-image: url('{{ site.baseurl }}/{{ page.hero_img }}'); {% if page.hero_text %}height: 80vh;{% endif %}">
        <div>
          <header>
            <h1>{{ page.hero_text }}</h1>
            {% if page.hero_button_text %}
            <a class="button" href="{{ page.hero_button_link }}">{{ page.hero_button_text }}</a>
            {% endif %}
          </header>
        </div>
      </header>

      <div id="gallery" class="gallery">
      {% if page.collection %}
        {% assign items = site[page.collection] %}
      {% else %}
        {% assign items = site.posts %}
      {% endif %}
      {% for entry in items %}
        <article style="background-image: url('{{ entry.gallery_img }}');">
          <h2>{{ entry.title }}</h2>
          <p>{{ entry.excerpt }}</p>
          <a href={% if entry.external_url %}"{{ entry.external_url }}" target="_blank"{% else %}"{{ entry.url }}"{% endif %}></a>
        </article>
      {% endfor %}
      </div>

      <div class="dark">
        <article>
          {{ content }}
        </article>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>