<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <main>
      {% if page.hero_text %}
      <header class="hero">
        <div>
          <header>
            <h1>{{ page.title }}</h1>
            <h2>{{ page.hero_text }}</h2>
            {% if page.hero_button_text %}
            <a class="button" href="{{ page.hero_button_link }}">{{ page.hero_button_text }}</a>
            {% endif %}
          </header>
        </div>
        {% if page.hero_img %}
        <img src="{{ site.baseurl }}/{{ page.hero_img }}">
        {% else %}
        <section style="height: 15em; width: 100%"></div>
        {% endif %}
      </header>
      {% else %}
      <header style="background-image: url('{{ site.baseurl }}/{{ page.img }}');">
        <h1>
          {% if page.title %} {{ page.title }}
          {% else %} {{ site.title }}
          {% endif %}
        </h1>
      </header>
      {% endif %}

      <div>
        <article>
          {{content}}
        </article>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>