<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <main>
      <header style="background-image: url('{{ site.baseurl }}/{{ page.img }}');">
        <h1>
          {% if page.title %} {{ page.title }}
          {% else %} {{ site.title }}
          {% endif %}
        </h1>
      </header>

      <div>
        <article>
          <ul>
            <li>Posted: {{ page.date }}</li>
            <li>Author: {{ page.author }}</li>
          </ul>
          {{content}}
        </article>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>