<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include nav-header.html %}

    <main>
      {% include hero-header.html %}

      <div>
        <article>
          {{content}}
          <hr>
          <ul class="plainlist">
            <li><span class="post-details-caption">Author:</span> {{ page.author }}</li>
            <li>
              <span class="post-details-caption">Categories:</span>
               {% for entry in page.categories %}{% unless forloop.first %},{% endunless %}
               <a href="{{ site.baseurl }}/category/{{ entry | slugify }}/">{{ entry }}</a>{% endfor %}
            </li>
          </ul>
        </article>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>